.exact-image {
    width: auto;   /* Mantiene el tamaño original de la imagen */
    height: auto;  /* Mantiene el tamaño original de la imagen */
    max-width: 90%;  /* Asegura que la imagen no sobrepase el contenedor */
    max-height: 90%; /* Asegura que la imagen no sobrepase el contenedor */
    margin: 0; /* Elimina cualquier margen que pueda afectar la posición */
}

.image-container {
    position: absolute; /* Añade posicionamiento absoluto */
    top: 10px; /* Posición desde la parte superior */
    left: 10px; /* Posición desde la izquierda */
    width: auto; /* Ajusta el ancho al contenido */
    height: auto; /* Ajusta la altura al contenido */
    display: flex;
    justify-content: flex-start; /* Alinea la imagen a la izquierda */
    align-items: flex-start; /* Alinea la imagen hacia arriba */
}