/* view2.css */
.left-panel2 {
    position: absolute; /* Añade posicionamiento absoluto */
    top: 240px; /* Posición desde la parte superior */
    left: 10px; /* Posición desde la izquierda */
    width: 1000px; /* Ancho fijo */
    height: 555px; /* Altura fija */
    background-color: #0073e6;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------------- RIGHT PANEL 2 --------------------- */
.red-button2 {
    position: absolute;
    top: 50px; /* Posición desde la parte superior */
    left: 1070px; /* Posición desde la izquierda */
    width: 241px; /* Ancho del botón */
    height: 140px; /* Altura del botón */
    background-color: #d32f2f; /* Color rojo */
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

.green-button2 {
    position: absolute;
    top: 220px; /* Posición desde la parte superior */
    left: 1070px; /* Posición desde la izquierda */
    width: 241px; /* Ancho del botón */
    height: 140px; /* Altura del botón */
    background-color: #327c32; 
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

.blue-button2 {
    position: absolute;
    top: 390px; /* Posición desde la parte superior */
    left: 1070px; /* Posición desde la izquierda */
    width: 241px; /* Ancho del botón */
    height: 140px; /* Altura del botón */
    background-color: #133888; 
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

.celeste-button2 {
    position: absolute;
    top: 50px; /* Posición desde la parte superior */
    left: 1345px; /* Posición desde la izquierda */
    width: 241px; /* Ancho del botón */
    height: 140px; /* Altura del botón */
    background-color: #3e8ae0; 
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

.purple-button2 {
    position: absolute;
    top: 220px; /* Posición desde la parte superior */
    left: 1345px; /* Posición desde la izquierda */
    width: 241px; /* Ancho del botón */
    height: 140px; /* Altura del botón */
    background-color: #ae51c5; 
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

.yellow-button2 {
    position: absolute;
    top: 390px; /* Posición desde la parte superior */
    left: 1345px; /* Posición desde la izquierda */
    width: 241px; /* Ancho del botón */
    height: 140px; /* Altura del botón */
    background-color: #ffcd28; 
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

.teal-button2 {
    position: absolute;
    top: 560px; /* Posición desde la parte superior */
    left: 1345px; /* Posición desde la izquierda */
    width: 241px; /* Ancho del botón */
    height: 140px; /* Altura del botón */
    background-color: #12ebce; 
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}