/* Estilos generales */
.view {
    display: none; /* Ocultar todas las vistas por defecto */
}

.view.active {
    display: block; /* Mostrar solo la vista activa */
}

/* --------------------- LEFT PANEL 1 --------------------- */

/* Estilo del botón rojo */
.red-button {
    position: absolute;
    top: 245px; /* Posición desde la parte superior */
    left: 10px; /* Posición desde la izquierda */
    width: 500px; /* Ancho del botón */
    height: 290px; /* Altura del botón */
    background-color: #d32f2f; /* Color rojo */
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

/* Estilo del botón azul */
.celeste-button {
    position: absolute;
    top: 245px; /* Posición desde la parte superior */
    left: 535px; /* Ajustado para agregar un gap de 20px (500px + 20px) */
    width: 500px; /* Ancho del botón */
    height: 290px; /* Altura del botón */
    background-color: #3e8ae0; /* Color celeste */
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

.purple-button {
    position: absolute;
    top: 560px; /* Posición desde la parte superior */
    left: 10px; /* Ajustado para agregar un gap de 20px (500px + 20px) */
    width: 240px; /* Ancho del botón */
    height: 265px; /* Altura del botón */
    background-color: #ae51c5; 
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

.green-button {
    position: absolute;
    top: 560px; /* Posición desde la parte superior */
    left: 273px; /* Posición desde la izquierda */
    width: 500px; /* Ancho del botón */
    height: 265px; /* Altura del botón */
    background-color: #327c32; /* Color rojo */
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

.blue-button {
    position: absolute;
    top: 560px; /* Posición desde la parte superior */
    left: 795px; /* Ajustado para agregar un gap de 20px (500px + 20px) */
    width: 240px; /* Ancho del botón */
    height: 265px; /* Altura del botón */
    background-color: #133888; 
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

/* --------------------- RIGHT PANEL 1 --------------------- */
.yellow-button {
    position: absolute;
    top: 50px; /* Posición desde la parte superior */
    left: 1060px; /* Ajustado para agregar un gap de 20px (500px + 20px) */
    width: 240px; /* Ancho del botón */
    height: 330px; /* Altura del botón */
    background-color: #ffcd28; 
    border: none;    
    }

.teal-button {
    position: absolute;
    top: 50px; /* Posición desde la parte superior */
    left: 1325px; /* Ajustado para agregar un gap de 20px (500px + 20px) */
    width: 240px; /* Ancho del botón */
    height: 330px; /* Altura del botón */
    background-color: #12ebce; 
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

.brown-button {
    position: absolute;
    top: 405px; /* Posición desde la parte superior */
    left: 1060px; /* Posición desde la izquierda */
    width: 515px; /* Ancho del botón */
    height: 290px; /* Altura del botón */
    background-color: #704616; 
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}

.gray-button {
    position: absolute;
    top: 720px; /* Posición desde la parte superior */
    left: 1060px; /* Posición desde la izquierda */
    width: 515px; /* Ancho del botón */
    height: 105px; /* Altura del botón */
    background-color: #7c7c7c; 
    color: white;
    border: none;    
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centrar texto verticalmente */
}